---

import H1 from './ui/H1.astro'
import LineTrailing from './ui/LineTrailing.astro'

---


<section id="hero" class="min-h-screen flex items-center">
    <div class="flex flex-col justify-center items-center mx-auto px-4 py-16">
        <H1 text="Building software beyond functionality" />
        <div class="flex items-center gap-x-4 w-full px-16 pt-2">
            <LineTrailing />
            <p class="text-slate-600 text-lg font-medium tracking-widest">Builder of Interactive Experiences</p>
            <LineTrailing />
        </div>
    </div>
</section>