<section id="mission" class="flex-1">
    <div class="px-6">
        <h1 class="text-5xl font-medium leading-snug tracking-wide"><span class="font-bold">Software</span> is more than a <span class="font-bold">tool</span>. It is a spark that turns ideas into experiences, so let's make every <span class="bytesized tracking-normal">BIT</span> count.</h1>
    </div>
</section>