---

import AvailabilityLabel from './AvailabilityLabel.astro';
import Clock from './Clock.astro';

---

<div class="flex items-center gap-x-4">
    <AvailabilityLabel status={1} />
    <Clock />
</div>